<html>
<head>
<title>Shopping</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="javascripts/app2.js"></script>
</head>
<body ng-app="voting" ng-controller="MainCtrl">
<div style="margin-left: 5em;">
<h1>Shopping Interface </h1>

<h1>Current Products</h1>
<div ng-repeat="candidate in candidates | orderBy: 'title'">
<input type="checkbox" ng-model="candidate.selected">  {{candidate.title}} - price {{candidate.price}} - 
<img src="{{candidate.image}}" alt="Product Image">
</div>
<button ng-click="dovote()">
Submit Purchase
</button>

<h1>Shopping Cart</h1>
<div ng-repeat="candidate in ballot | orderBy: 'title'">
{{candidate.title}} - price {{candidate.price}} -
<img src="{{candidate.image}}" alt="Product Image">
</div>
</body>
</html>

